.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-title {
  background: #ffffff;
  color: #333;
  padding-right: 3.5em;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-title:hover {
  background: #ffffff;
  color: #666;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-title span {
  right: 7px;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-title .iw-so-tgl-close {
  color: #8ebd54;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-title .iw-so-tgl-open {
  color: #8ebd54;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .iw-so-accordion .iw-so-acc-item .iw-so-acc-content {
  background: #ffffff;
}