.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation a {
  background: #ffffff;
  color: #333;
  padding-right: 3.5em;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation a:hover {
  background: #ffffff;
  color: #666;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation a span {
  right: 10px;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation a .iw-so-tgl-close {
  color: #8ebd54;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation a .iw-so-tgl-open {
  color: #8ebd54;
}
.so-widget-ink-accordion-accordion-2ab39f390063 .accordion .accordion-navigation .content {
  background: #ffffff;
}