.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation {
  margin-bottom: 12px;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation a {
  background: transparent;
  color: #ffffff;
  padding-right: 3.5em;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation a:hover {
  background: transparent;
  color: #ffffff;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation a span {
  right: 10px;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation a .iw-so-tgl-close {
  color: #333;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation a .iw-so-tgl-open {
  color: #333;
}
.so-widget-ink-accordion-accordion-6b3361636c9d .accordion .accordion-navigation .content {
  background: transparent;
}