// // // ==== HEADERS ==== //


.page-template-page-titlebar .default-header {
	background: $lightest-gray url('images/red_pattern.jpg') repeat center center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	display: table;
	width: 100%;
	h1{
		color: 	white;
		max-width: 700px;
		margin: 0 auto;
		display: table-cell;
		vertical-align: middle;
		font-family: $navigation-font;
		font-size: 40px;
		color: white;
		text-align: center;
	}
}
//fix for div inserted by the home-top widget/kickstart theme
.site-container > header+div{
	// height: 105px !important;
}
#top-header {
	position: inherit;
	margin: 0;
	height: 461px;
	padding-top: 70px;

	.widget.widget_sow-image {
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    width: 90%;
	    max-width: 449px;
	    min-width: 320px;
	    top: 174px;
	}
	.widget_text {
		position: relative;
		background-color: transparent;
		left: 43%;
		top: 54px;
		width: auto;
		max-width: 329px;
	}
	.widget_text h1 {
		font-size: 50px;
		line-height: 54px;
		color: $red;
	}
	.widget_text h1 span {
		color: white;
	}
	.widget_text p {
		color: white;
		margin-top: 15px;
		font-size: 23px;
		padding: 0;
		line-height: 27px;
	}
	@media screen and (max-width: 460px){
		height: 366px;
	}
}
.home #top-header {
	background: #009ce9 url('images/home_bg.jpg') no-repeat center top;
}
.blog #top-header,
.single #top-header,
.archive #top-header {
	background: $lightest-gray url('images/red_pattern.jpg') repeat center center;
	height: 360px;
	.widget.widget_sow-image {
		max-width: 550px;	
	}

}
.archive #top-header {
	margin-bottom: 35px;
}
.philosophy-page #top-header {
	background: #0077c3 url('images/philosophy_hero.jpg') no-repeat center top;
	height: 459px;
	.widget.widget_sow-image {
		max-width: 390px;	
	}
	@media screen and (max-width: 901px){
		background: #2c7ac8;
		height: 370px;
	}
}
.program-page #top-header {
	background: #3e7c1b url('images/program_hero.jpg') no-repeat center center;
	height: 367px;
}
.member-header{
	background: $lightest-gray url('images/red_pattern.jpg') repeat center center;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	h3{
		color: 	white;
	}
}
