// // // ==== HEADERS ==== //
// // Kickstart bulk overrides
// .before-contact, .before-content, .home-top-slider  {
// 	position: inherit;
// }
// .header-image .before-contact, .header-image .before-content, .header-image .home-top-slider{
// 	position: inherit;
// 	margin-bottom: 0;
// }
// //
// .before-content {
// 	margin-top: 0;
// 	height: 355px;
// }
// 
//fix for div inserted by the home-top widget/kickstart theme
.site-container > header+div{
	height: 105px !important;
}
#home-top-slider {
	background: $lightest-gray url('images/home_bg.jpg') no-repeat center top;
	position: inherit;
	margin: 0;
	height: 461px;
	padding-top: 70px;
	#sow-image-3 {
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    width: 90%;
	    max-width: 449px;
	    min-width: 320px;
	    top: 174px;
	}
	.widget_text {
		position: relative;
		background-color: transparent;
		left: 43%;
		top: 54px;
		width: auto;
		max-width: 329px;
	}
	.widget_text h1 {
		font-size: 50px;
		line-height: 54px;
		color: $red;
	}
	.widget_text h1 span {
		color: white;
	}
	.widget_text p {
		color: white;
		margin-top: 15px;
		font-size: 23px;
		padding: 0;
		line-height: 27px;
	}
	@media screen and (max-width: 460px){
		height: 366px;
	}

}
// @media screen and (max-width: 900px){
// 	.before-content {
// 		height: 300px;
// 	}
// 	#home-top {
// 		background: $green url('images/home-top-tablet.png') no-repeat center center;
	
// 		.widget_text {
// 			left: 10%;
// 		}
// 	}

// }
// @media screen and (max-width: 680px){
// 	.before-content {
// 		height: 300px;
// 	}
// 	#home-top {
// 		background: $green url('images/home-top-tablet.png') no-repeat center center;
	
// 		.widget_text {
// 			left: 10%;
// 		}
// 	}

// }
// @media screen and (max-width: 550px){
// 	.before-content {
// 		height: 500px;
// 	}
// 	#home-top {
// 		background: $green url('images/home-top-mobile.png') no-repeat top center;
	
// 		.widget_text {
// 			top: 200px;
// 			left: 0;
// 		}
// 	}
// }
// //Individual Page Headers
// //
// .banner-strip {
// 	text-align: center;
// 	height: 152px;
// }
// .banner-strip {
// 	display: table;
// 	width: 100%;
// }
// .banner-strip h1 {
// 	display: table-cell;
// 	vertical-align: middle;
// }
// .blog,
// .archive,
// .single { 
// 	& .banner-strip h1 {
// 		font-size: 50px;
// 		line-height: 40px;
// 	}
// }
// //all other pages not specified below will be yellow
// .banner-strip {
// 	background: $red url('images/header-yellow.png') no-repeat top center;
// 	h1 {
// 		color: $red;
// 	}
// }

// .banner-strip span.blog-subtitle {
// 	font-size: 25px;
// 	line-height: 25px;
// }
// //Careers (Red)
// .page-id-11 .banner-strip,
// .page-id-53 .banner-strip {
// 	background: $red url('images/header-red.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 	}
// }
// //About/Contact (Yellow)
// .page-id-12 .banner-strip,
// .page-id-392 .banner-strip{
// 	background: $red url('images/header-yellow.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 	}
// }
// //Clients
// .page-id-11 .banner-strip{
// 	background: $red url('images/header-yellow.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 	}	
// }
// .blog .banner-strip,
// .single .banner-strip,
// .archive .banner-strip {
// 	background: $red url('images/header-purple.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 	}	
// }
// // Expertise	
// .page-id-9 .banner-strip,
// .parent-pageid-9 .banner-strip
//  {
// 	background: $green url('images/header-green-expertise.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 		max-width: 600px
// 	}	
// }
// //Services
// .page-id-8 .banner-strip,
// .parent-pageid-8 .banner-strip {
// 	background: $red url('images/header-yellow-services.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 		max-width: 600px;
// 	}	
// }
// // Exam 
// .page-id-268 .banner-strip,
// .parent-pageid-268 .banner-strip {
// 	background: $red url('images/header-purple-exam.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 		max-width: 600px;
// 	}	
// }
// //For Providers
// .page-id-10 .banner-strip {
// 	background: $green url('images/header-green-providers.png') no-repeat top center;
// 	h1 {
// 		color: white;
// 		max-width: 600px;
// 	}	
// }