//=== membership page template===//

.member-dashboard {
	.site-header{
		background-color: $green;
		.wrap {
			height: auto;
		}
	}
	.genesis-nav-menu a {
		color: white;
	}
	.site-inner {
		max-width: 100%;
	}
	.sidebar {
		background-color: $light-gray;
		padding-left: 40px;
		li {
			border-bottom: 0;
		}
	}
}