
//Scroll to fixed border bottom
//
.scroll-to-fixed-fixed {
	border-bottom: 1px solid $gray-rule;
}
// .decorative-bar {
// 	height: 1px;
// 	// background: url(images/treebark.jpg) repeat-x center bottom;
// }

// Kickstart styles


/*
Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
	// background: url(images/treegarden_brown.png) no-repeat center top;
	// height: 258px;
	background-color: #fff;
}
.site-header .wrap {
	position: relative;
	height: 110px;
	// z-index: 498;
	// background-repeat: repeat-x, repeat-x;
	// background-position: center -14px, center bottom;
	
}

.site-header > .wrap {
	// max-width: 1000px;
	// padding: 40px 0 40px;
}

/* Title Area
--------------------------------------------- */


.title-area {
	text-align: center;
	display: inline;
	height: 0;
	float: left;
}

.header-image .title-area {
	padding: 0;
}
.site-title {	
	margin: 0;
}

.site-title a {
	// padding: 12px 0px;
	height: 0;
}

.site-title a:hover {
	// background-color: #efefef;
	color: #999;
}

// .site-description {
// 	font-family: $body-font;
// 	font-weight: 300;
// 	color: $dark-gray;
// 	// float: left;
// 	font-size: 13px;
// 	font-weight: 300;
// 	line-height: 1;
// 	margin-bottom: 0;
// 	padding: 8px 0px;
// 	// text-transform: uppercase;
// 	letter-spacing: .03em
// }

/* Logo, hide text */

// .header-image .site-header .wrap {
// 	background: url(images/logo.png) no-repeat left center;
// 	padding: 0;
// }

.header-image .site-description,
.header-image .site-title a {
	display: inline-block;
	text-indent: -9999px;
}


.header-image .site-title a {
	background: none;
	float: left;
	height: 80px;
	max-height: 80px;
	padding: 0;
	width: 155px;
}

.header-image .site-description {
	height: 0;
	padding: 0;
	display:none;
}

/* Widget Area
--------------------------------------------- */

.widget-area {
	word-wrap: break-word;
}

.site-header .widget-area {
	// float: right;
	text-align: center;
}

// .header-image .site-header .widget-area {
// 	padding: 40px 0;
// }


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

//Both Primary and Secondary Nav
.genesis-nav-menu {
	// clear: both;
	color: #999;
	font-size: 12px;
	font-weight: 600;
	font-family: $navigation-font;
	letter-spacing: 0.02em;
	line-height: 1;
	width: 100%;

	
	.site-logo a span{
		display: none !important;
	}

	//Primary Nav - Desktop
	@media screen and (min-width: $desktop-nav-up){

		&.menu-primary li.menu-item {
			width: 19.5%;
			display: inline-block;
			margin-right: 0px;
			text-align: center;
		    margin-right: 0;
			position: relative;
			bottom: 55px;		
		}
		&.menu-primary li.menu-item a {
			float: none;
			padding: 10px 0;
		}
		&.menu-primary li.menu-item a span{
			display: inline-block;
		}
		&.menu-primary li.site-logo {
			margin-bottom: -40px !important;
			position: inherit;

		}
		&.menu-primary li.site-logo a {
			// @media screen and (max-width: $mobile-nav-down) {
			// 	display: none;
			// }
			background-image: url(images/burn_brighter_logo.png);
			display: inline-block;
			width: 160px;
			height: 135px;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: 155px auto;

			@media screen and (max-width: $mobile-nav-down){
				background-size: 150px;
				background-position: center center;
			}
		}
		&.menu-primary li.site-logo a span{
			display: none !important;
		}
		//Sign up
		&.menu-primary li.sign-up{
			border: 2px solid $green;
		}
		&.menu-primary li.sign-up a{
			color: $green;
		}
	}


	.menu-item {
		display: inline-block;
		margin-right: 8px;
		text-align: left;
	    margin-right: 60px;
	    text-align: left;
		// border: 1px solid $lightest-gray;
	
	    &:hover a  {
			color: $red;
	    }
	    a {
		    color: $dark-gray;
		    font-size: 14px;
		    padding: 5px 0;
		    text-transform: uppercase;
		    letter-spacing: .06em;
	    }
	   
	    &:hover a:after {
			text-decoration: none;
	    }
	    &.current-menu-item a{
	    	color: $red;
	    }

	  //   &.menu-item-has-children > a:after {
			// font-family: 'FontAwesome';
			// content: '\f0dd';
			// position: relative;
			// top: -1px;
			// right: -5px;
			// display: inline-block;
			// text-decoration: none;
	  //   }
	    // Sub Menu
	    .sub-menu {
	    	border-bottom: 3px solid $red;
	    }
	    .submenu .menu-item {

	    }
	    .sub-menu a {
			background-color: white;
			font-size: 14px;
			color: $dark-gray;
			padding: 12px 20px;
	    }
	    .sub-menu a span {
	    	text-decoration: none;
	    }
	    .sub-menu a:hover {
	    	color: $dark-gray;
	    	text-decoration: underline;
	    }
	    .sub-menu .menu-item {
	    	border-bottom: 1px solid $gray-rule;
	    }
	    .sub-menu .menu-item:last-child {
	    	border-bottom: none;
	    }
	    &:focus {
	    	border-bottom: 1px solid $dark-gray;
			outline: none;	
		}
		&.current-menu-item .sub-menu a {
			font-weight: 300 !important;
		}
		.current-menu-item a:hover {
			background-color: white !important;
		}		
	}
	.menu-item:last-child {
		margin-right: 0;
	}

	a {
		border: none;
		display: block;
		padding: 12px 22px;
		float: right;
	}

	.menu-item:hover a,
	.current-menu-item > a,
	.sub-menu a:hover {
	}

	.sub-menu .current-menu-item > a {
		color: #999;
	}

	> .menu-item > a {
		text-transform: uppercase;
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 200px;
		z-index: 99;
	}

	.sub-menu a {
		background-color: #efefef;
		border-top: none;
		color: #999;
		position: relative;
		text-transform: uppercase;
		width: 200px;
	}

	.sub-menu a:hover,
	.sub-menu .current-menu-item > a:hover {
		background-color: $red;
		color: #fff;
	}

	.sub-menu .sub-menu {
		margin: -37px 0 0 199px;
	}

	.menu-item:hover {
		position: static;
	}

	.menu-item:hover > .sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 28px 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 14px 0 0;
}

//Secondary nav
#nav-secondary-wrap {
	position: relative;
	height: 20px;
	float: right;
}
.nav-secondary {
	float: right;
    position: absolute;
    z-index: 1002;
    right: 0;
    top: 5px;
    width: 300px;
    text-align: right;
    a span {
    	color: $red;
    	text-decoration: underline;
    	font-size: 11px;
    }
}

/* Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* Responsive Menu
--------------------------------------------- */

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/* Skip Links
--------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


@media screen and (max-width: 1000px){
	// .site-header .widget-area {
	// 	float: none;
	// 	text-align: center;
	// }
	// .title-area {
	// 	float: none;
	// }
	// .site-title {
	//     margin: 0 auto;
	//     height: 100px;
	//     width: 200px;
	//     float: none;
 //    }
}
// Navigation
body .genesis-nav-menu {
    // // clear: both;
    // font-family: $body-font, sans-serif;
    // font-size: 12px;
    // font-weight: 400;
    // line-height: 1;
    // width: 100%;
}

// Main Nav

.nav-primary 


// }
/////////////////////
//   Mobile nav 
/////////////////////

// Portal Nav
.portal-logins.desktop-hidden {
	height: 80px;
	.portal-title {
		display: block;
		width: 100%;
		font-size: 16px;
		line-height: 18px;
	}
	ul {
		text-align: center;
		height: 80px;
	}
	li {
		display: inline-block;
		margin: 8px 5px;
		width: 42%;
	}
	a {
		font-size: 18px;
		font-weight: 300;
		padding: 0px 20px;
		line-height: 20px;
	}
}
// Hamburger Menu
@media screen and (max-width: $mobile-nav-down){

	.site-header {
		background-color: white;
	}
	.site-header .widget-area.header-widget-area {
		padding: 0;
	}
	.menu-toggle.nav-primary {
		float: right;
	    display: inline-block;
	    width: auto;
	    height: 100px;
	    background-color: white;
	    color: $red;
	    &:after, &:before {
	    	color: $red;
		    font-size: 30px;
	    }
	    &:focus:before, &:hover:before{
	    	color: inherit;
	    }

	}
	.title-area {
		float: left;
	    height: 80px;
	    height: 100px;
	}
	.site-title {
		background: url(images/burn_brighter_logo.png) no-repeat center center;
		background-size: auto 100px;
		padding: 0;
		height: 100px;
	}

	.js .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		margin: 0;
		position: relative;
		text-align: left;
	}
	.js .genesis-nav-menu .menu-item.mobile-hidden {
		position: absolute;
	}
	//turn off hover for mobile
	.js nav .genesis-nav-menu .menu-item:hover {
		// background-color: transparent;
		span {
			text-decoration: none;
		}
	}
	.js .genesis-nav-menu .menu-item:hover>a {
		// background-color: transparent;
	}
	.js .menu-toggle:focus, 
	.js nav .genesis-nav-menu .menu-item .sub-menu li a:focus, 
	.js nav .genesis-nav-menu .menu-item a:focus, 
	.js nav button:focus {
	    // background-color: transparent;
		color: $red;
		outline: none;
		text-decoration: none;
	 }
	 .js .genesis-nav-menu .menu-item a {
	 	color: $dark-gray;
	 	&:hover {
	 		color: $dark-gray;
	 	}
	 }
	nav.nav-primary {
		border-bottom: 1px solid $gray-rule;
	}
	.nav-primary ul {
		border-top: 1px solid $gray-rule;
	}
	.nav-primary .menu-item.current-menu-item a {
	    // background-color: white;
	}
	.nav-primary .menu-item.current-menu-item a span {
	    text-decoration: none;
	}
	// sub menu
	// 
	.nav-primary .menu-item {
	}
	.nav-primary .menu-item .sub-menu  {
		padding-bottom: 10px;
	}
	.nav-primary .menu-item .sub-menu .menu-item {
		border-bottom:0;
	}

	.nav-primary .menu-item:hover a span {
		color: $dark-gray;
	}
	.nav-primary .menu-item.schedule-now:hover a span{
		color: $green;
	}
	.nav-primary .menu-item.current-menu-item .sub-menu a {
		font-weight: 300;
	}
	.nav-primary .menu-item.menu-item-has-children a:after {
		content: '';
	}

	// Secondary nav
	.utility a{
		background-color: $light-gray;
	}
	.js .genesis-nav-menu .menu-item.utility:hover a{
		background-color: $light-gray;
	}
	.nav-primary .menu-item.current-menu-item.utility a {
	    background-color: $light-gray;
	}
	.schedule-now {
		border: none;
	}

	.menu-toggle,
	.sub-menu-toggle {
		color: #fff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		padding: 13px 24px;
		text-align: center;
		visibility: visible;
		-webkit-transition: none;
		transition: none;
		background-color: transparent;
		top: 0;
		padding: 11px;
		// border-left: 1px solid $gray-rule;
		&:hover {
			background-color: transparent;
		}
	}
	.sub-menu-toggle:before {
		content: '\f0dd';
		color: $dark-gray;
		position: relative;
		top: -2px;
	}
	.sub-menu-toggle.activated:before {
		content: '\f0de';
		color: $dark-gray;
		position: relative;
		top: 2px;
	}
}
// Footer 
.site-footer {
	color: $dark-gray;
	height: 326px;
	background-color: $green, $green; 
	background-image: url(images/breanne_footer.png), url(images/green_pattern.jpg);
	background-repeat: no-repeat, repeat; 
	background-position: center top, center center;
	> .wrap p {
		// width: 49%;
		// margin-left: 50%;
		// text-align: left;
	}
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		color: $dark-gray;
	}
	li:after {
		content: '  |  ';
		display: inline;
		position: relative;
		// right: -2px;
	}
	li:last-child:after {
		content: '';
	}
	li a {
		color: $dark-gray;
		display: inline-block;
		padding: 0 10px;

		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
			font-weight: bold;	
		}
	}
	//Podcast button
	.widget_sow-button {
		font-family: $headline-font;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		.sow-icon-fontawesome {
			margin-right: 8px;
		    margin-left: -6px;
		}
	}
	.so-widget-sow-button-flat-384499edf124 .ow-button-base a [class^="sow-icon-"] {
			margin-right: 8px;
		    margin-left: -6px;
	}
}

.footer-widget-header-container{
	background-color: $lightest-gray;
	padding: 45px 0;
}

.footer-widgets {
	color: #959799;
	clear: both;
	font-size: 14px;
	padding: 0;
	a:hover, a:focus {
		text-decoration: underline;
		outline: none;
	}
	.wrap {
		max-width: 970px;
		padding-top: 10px;
	}
	.footer-widgets-1{
		width: 49%;
		margin-left: 50%;
		text-align: left;
	}
	#sow-button-2 {
		margin-bottom: 35px;
	}
	.widget-title {
		color: $dark-gray;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: .04em;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.textwidget, 
	.textwidget p, 
	.textwidget li, 
	.textwidget a {
		font-family: $body-font;
		font-size: 17px; 
		color: white;
	}
	.textwidget li:before {
		content: '\f09a';

		font-family: 'FontAwesome';
		position: relative;
		top: 1px;
		right: -5px;
		display: inline-block;
		text-decoration: none;

	}
	.textwidget li.instagram:before {
		content: '\f16d';
	}
	.textwidget li.twitter:before {
		content: '\f099';
	}
	.widget_nav_menu a {
		color: $dark-gray;
	}
}
@media screen and (max-width: $mobile-nav-down){

}
@media screen and (max-width: 780px){
	
	.footer-widgets .footer-widgets-1 {
		width: 100%;
		text-align: center;
		padding-top: 20px;
		margin: 0;
		text-align: center;

	}
	#sow-button-2 .ow-button-base.ow-button-align-left {
		text-align: center;
	}
	.site-footer {
		background: $green url('images/green_pattern.jpg') repeat center center;
	}
}

