// ==== Ontraport styles ==== //

.site-container .op-login-form-1 {
	margin: 10px auto;
}
.post-250 .entry-content {
	padding-bottom: 80px;
}
.member-dashboard h3.pp-section__divider {
	margin-top: 20px;
	margin-bottom: 10px;
}

