// --- Pagebuilder Classes --- //

.desktop-max-width-six {
	max-width: 600px;
	margin: 0 auto;
}
.desktop-max-width-seven {
	max-width: 700px;
	margin: 0 auto;
}
.desktop-max-width-eight {
	max-width: 800px;
	margin: 0 auto;
}
.no-bullets ul {
	margin: 0;
}
.no-bullets ul li{
	list-style-type: none;
}
//checklist bullets {
.check-list li:before {
	font-family: FontAwesome;
    content: '\f00c';
    position: relative;
    margin-left: -16px;
    top: -1px;
    right: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.check-list ul li {
	list-style-type: none;
}

.border-left {
	border-left: 4px solid white;
	padding-left: 20px;
}

.siteorigin-panels-stretch { 
}

.red-title h1,
.red-title h2,
.red-title h3,
.red-title h4,
.red-title h5{
	color: $red
}


// Home Page
.arrow-border {

	background-image: url('images/green_triangles_up.png'),url('images/green_triangles.png');
	background-position: left top, left bottom;
	background-repeat: repeat-x, repeat-x;

	margin-top: 50px;
	
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 10px;
}
.arrow-red {
	background-image: url('images/red_triangles_up.png'),url('images/red_triangles.png');
}

.more-time {
	line-height: 0;
	img {
		width: inherit;
		height: inherit;
	}
}
// .arrow-border .textwidget:after {
// 	content: '\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009\f0d7\2009';
// 	font-family: FontAwesome;
// 	color: $dark-green;
// 	font-size: 30px;
// }
.short-hr hr {
	width: 170px;
	color: $dark-gray;
	background-color: $dark-gray;
	height: 3px;
	border: 0 none;
}
.red-hr hr{
	color: $red;
	background-color: $red;
}
.left-hr hr{
	margin-left: 0;
}

.no-bottom-margin h2,
.no-bottom-margin h3,
.no-bottom-margin h4,
.no-bottom-margin p
{
	margin-bottom: 0;
}
.section-title {
	font-family: $headline-font;
	letter-spacing: .06em;
	font-weight: 700;
	text-transform: uppercase;
}
.bb-button {
	font-family: $headline-font;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-weight: 700;
}

@media screen and (min-width: $desktop-nav-up){
	.careers-widget {
		max-width: 450px;
		h4 a:hover {
			text-decoration: underline;
		}
		h4:after {
			font-family: 'FontAwesome';
			content: '\f105';
			font-size: 16px;
			position: relative;
			top: 0px;
			right: -5px;
			color: white;
		}
	}

}
// Inked accordion
#faq-accordion .faq .accordion-navigation > a {
	padding: 0;
}
#faq-accordion .faq .content {
	padding: 0;
}

//Philosophy page
#philosophy .widget_sow-image {
	margin-bottom: 0 !important;
}


// wire buttons
.widget_sow-button .so-widget-sow-button .ow-button-base a {
	padding: 15px 25px 14px;
	&:after {
		// font-family: 'FontAwesome';
		// content: '\f105';
		// font-size: 13px;
		// position: relative;
		// top: 0px;
		// right: -5px;
	}
}
