// --- Pagebuilder Classes --- //

.desktop-max-width-six {
	max-width: 600px;
	margin: 0 auto;
}
.desktop-max-width-seven {
	max-width: 700px;
	margin: 0 auto;
}
.desktop-max-width-eight {
	max-width: 800px;
	margin: 0 auto;
}
.no-bullets ul {
	margin: 0;
}
.no-bullets ul li{
	list-style-type: none;
}
//checklist bullets {
.check-list li:before {
	font-family: FontAwesome;
    content: '\f00c';
    position: relative;
    margin-left: -16px;
    top: -1px;
    right: 5px;
    display: inline-block;
    text-decoration: none;
}
.check-list-white li:before{
	font-family: FontAwesome;
    content: '\f00c';
    position: relative;
    margin-left: -16px;
    top: -1px;
    right: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.check-list ul li,
.check-list-white ul li {
	list-style-type: none;
}

.border-left {
	border-left: 4px solid white;
	padding-left: 20px;
}

.siteorigin-panels-stretch { 
}

.red-title h1,
.red-title h2,
.red-title h3,
.red-title h4,
.red-title h5{
	color: $red
}
.raleway-font {
	h1,h2,h3,h4,h5,h6,p,li,span {
		font-family: $navigation-font;
		letter-spacing: $raleway-spacing;		
	}
}
//Blog
#podcast {
	margin-left: 0 !important;
	margin-right: 0 !important;
	.panel-grid-cell {
		padding: 0 !important;
	}
	.panel-first-child {
		margin-bottom: 0 !important;
	}
	.sow-icon-image {
		margin-right: 5px !important;
	}
}

// Home Page
.arrow-border {

	background-image: url('images/green_triangles_up.png'),url('images/green_triangles.png');
	background-position: left top, left bottom;
	background-repeat: repeat-x, repeat-x;

	// margin-top: 50px;
	
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 10px;
}
.arrow-red {
	background-image: url('images/red_triangles_up.png'),url('images/red_triangles.png');
}
#pl-w579c18cdc4e02 .panel-grid-cell .so-panel{
	margin-bottom: 0px !important;
}
.more-time {
	line-height: 0;
	img {
		width: inherit;
		height: inherit;
	}
}
.short-hr hr {
	width: 170px;
	color: $dark-gray;
	background-color: $dark-gray;
	height: 3px;
	border: 0 none;
}
.red-hr hr{
	color: $red;
	background-color: $red;
}
.left-hr hr{
	margin-left: 0;
}

.no-bottom-margin h2,
.no-bottom-margin h3,
.no-bottom-margin h4,
.no-bottom-margin p
{
	margin-bottom: 0;
}
.section-title {
	font-family: $navigation-font;
	letter-spacing: .06em;
	font-weight: 700;
	text-transform: uppercase;
	p {
		margin-bottom: 5px;
	}
}
.bb-button {
	font-family: $headline-font;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-weight: 700;
}

@media screen and (min-width: $desktop-nav-up){
	.careers-widget {
		max-width: 450px;
		h4 a:hover {
			text-decoration: underline;
		}
		h4:after {
			font-family: 'FontAwesome';
			content: '\f105';
			font-size: 16px;
			position: relative;
			top: 0px;
			right: -5px;
			color: white;
		}
	}

}
//Program {
#program-eight-weeks #panel-4-1-0-0 {
	margin-bottom: 0;
}

// Program accordion 
.program-accordion {
	.content {
		float: none;
	}
	.sow-icon-fontawesome {

	}
	.iw-so-accordion {
		background-color: white;
	}
	div.iw-so-acc-item {
		border-bottom: 1px solid $lightest-gray;
		background-image: url(images/go.png);
		background-position: 30px 26px;
		background-size: 80px 80px;
		background-repeat: no-repeat;
		padding-left: 120px;
		min-height: 133px;
		> a:before {
			content: 'Running Start \2014  Available immediately after you register';
		}
	}
	div.iw-so-acc-item:nth-child(2){
		background-image: url(images/zero.png);
		> a:before {
			content: 'Pre\2013Program Homework';
		}
	}
	div.iw-so-acc-item:nth-child(3){
			background-image: url(images/one.png);
			> a:before {
				content: 'Module 1 \2014   Skyrocket your Metabolism';
			}
		}
	div.iw-so-acc-item:nth-child(4){
		background-image: url(images/two.png);
		> a:before {
			content: 'Module 2 \2014  Top Foods to Toss now';
		}
	}
	div.iw-so-acc-item:nth-child(5){
		background-image: url(images/three.png);
		> a:before {
			content: 'Module 3 \2014  The last cleanse you’ll ever need';
		}
	}
	div.iw-so-acc-item:nth-child(6){
		background-image: url(images/four.png);
		> a:before {
			content: 'Module 4 \2014  Carb Monster';
		}
	}
	div.iw-so-acc-item:nth-child(7){
		background-image: url(images/five.png);
		> a:before {
			content: 'WEEK 5 \2014  Catch up, Rest Up & Be Heard!';
		}
	}
	div.iw-so-acc-item:nth-child(8){
		background-image: url(images/six.png);
			> a:before {
			content: 'Module 6 \2014  Why Paleo Works, Pure and Simple';
		}
	}
	div.iw-so-acc-item:nth-child(9){
		background-image: url(images/seven.png);
		> a:before {
			content: 'Module 7 \2014  Stop Fearing Fats';
		}
	}
	div.iw-so-acc-item:nth-child(10){
		background-image: url(images/eight.png);
		> a:before {
			content: 'Module 8 \2014  Power up with Protein';
		}
	}
	div.iw-so-acc-item:nth-child(11){
		background-image: url(images/bonus.png);
		> a:before {
			content: 'BONUS SECTION!';
		}
	}


	.iw-so-acc-item > a {
		font-size: 24px !important;
		line-height: 28px;
		padding-right: 150px !important;
		&:hover {
			text-decoration: none;
		}
	}
	.iw-so-acc-item > a:before {
		display: block;
		color: $red;
		text-transform: uppercase;
		margin-bottom: 0;
		font-size: 14px;

	}
	


	

	

	
	
	> a:before {
		content: 'BONUS SECTION!';
	}

	.iw-so-accordion .iw-so-acc-item a span {
		top:22px;
		right: 19px !important;
		&:hover {
			text-decoration: none;
		}
	}
	.iw-so-acc-item.active .content.active div:before {
		font-family: FontAwesome;
	    content: '\f00c';
	    position: relative;
	    margin-left: -16px;
	    top: -1px;
	    right: 5px;
	    display: inline-block;
	    text-decoration: none;
	}
	@media screen and (max-width: 780px){
		div.iw-so-acc-item {
			background-image: none;
			padding-left: 0;
		}
	}
}

// FAQ accordion
#faq-accordion .faq .iw-so-acc-item > a {
	padding: 0;
}
#faq-accordion .faq .content {
	padding: 0;
}

//Philosophy page
#pg-3-3 #panel-3-3-1-0 {
	margin-bottom: 0;
}
#philosophy .widget_sow-image {
	margin-bottom: 0 !important;
}
#pgc-3-philosophy-0 .about-breanne{
	@media screen and (min-width: $desktop-nav-up){
		max-width: 550px;
	    float: right;
    }
}
#pgc-3-philosophy-1 .about-breanne {
	padding: 30px;
	h2,h4 {
		margin-bottom: 5px;
	}
	h4 {
		font-weight: bold;
	}
}
.why-burn #panel-3-3-0-1 {
	margin-bottom: 0 !important;
}

#pay-it-forward img{
	display: block;
}
#pay-it-forward #pgc-3-pay-it-forward-0 {
	@media screen and (max-width: 780px){
		max-width: 400px;
		margin: 0 auto;
	}
}

.pet-project {
	@media screen and (min-width: $desktop-nav-up){
		img {
			margin-top: -58px;
		}
	}
}


// wire buttons
.widget_sow-button .so-widget-sow-button .ow-button-base a {
	padding: 15px 25px 14px;
	&:after {
		// font-family: 'FontAwesome';
		// content: '\f105';
		// font-size: 13px;
		// position: relative;
		// top: 0px;
		// right: -5px;
	}
}
