// --- Pagebuilder Classes --- //

.desktop-max-width-six {
	max-width: 600px;
	margin: 0 auto;
}
.desktop-max-width-seven {
	max-width: 700px;
	margin: 0 auto;
}
.desktop-max-width-eight {
	max-width: 800px;
	margin: 0 auto;
}
.no-bullets ul {
	margin: 0;
}
.no-bullets ul li{
	list-style-type: none;

}
//checklist bullets {
.check-list li:before {
	font-family: FontAwesome;
    content: '\f00c';
    position: relative;
    margin-left: -16px;
    top: -1px;
    right: 5px;
    display: inline-block;
    text-decoration: none;
}
.border-left {
	border-left: 4px solid white;
}

.siteorigin-panels-stretch { 
}

.red-title h1,
.red-title h2,
.red-title h3,
.red-title h4,
.red-title h5,
.red-hr hr{
	color: $red
}

.short-hr hr {
	width: 80px;
	color: $dark-gray;
	border-color: $dark-gray;
}
.no-bottom-margin h2,
.no-bottom-margin h3,
.no-bottom-margin h4,
.no-bottom-margin p
{
	margin-bottom: 0;
}
.section-title {
	font-family: $headline-font;
	letter-spacing: .06em;
	font-weight: 700;
	text-transform: uppercase;
}
.bb-button {
	font-family: $headline-font;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-weight: 700;
}
.arrow-border {
	
}
@media screen and (min-width: $desktop-nav-up){
	.careers-widget {
		max-width: 450px;
		h4 a:hover {
			text-decoration: underline;
		}
		h4:after {
			font-family: 'FontAwesome';
			content: '\f105';
			font-size: 16px;
			position: relative;
			top: 0px;
			right: -5px;
			color: white;
		}
	}

}

//height of panels for expertise page




// wire buttons
.widget_sow-button .so-widget-sow-button .ow-button-base a {
	padding: 15px 25px 14px;
	&:after {
		// font-family: 'FontAwesome';
		// content: '\f105';
		// font-size: 13px;
		// position: relative;
		// top: 0px;
		// right: -5px;
	}
}
